.container-options {
  width: 100%;
  padding: 2em;
  text-align: center;
  min-height: 100vh;
}

.container-select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  background-color: rgb(102, 96, 96);
  font-size: 1.1rem;
  margin-bottom: 30px;
  padding: 1rem;
}

.container-select label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 0.7em;
  font-size: 2rem;
}

select {
  max-width: 250px;
  padding: 0.5rem;
  font-size: 0.9em;
  font-weight: 500;
  background-color: aqua;
}

.respuesta {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.respuesta h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.respuesta p {
  font-size: 1.8rem;
  padding: 10px;
  margin-bottom: 1rem;
  background-color: rgb(104, 102, 102);
  width: 50%;
}

.respuesta img {
  width: 150px;
}
